.bluecase {
    background-color: #bbc0f0; 
    border-radius: 16px; 
    padding: 2rem; 
    margin: 2rem auto; 
    display: table; 
}

.bluebutton {
    background-color: #1b1464; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    margin: 5px;
}

.tips {
    font-style: italic;
    text-align: center;
    color: #4a4674;
}

.fiche_title {
    margin-top: 1rem;
}